@use "../abstracts/variables" as *;

.container {
  padding-block: 40px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  .box {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 300px;
    @include box(300px);
    flex-grow: 1;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: $shadow-2;
    img {
      &.loaded {
        opacity: 1;
      }
      object-fit: cover;
      object-position: center;
      opacity: 0;
      transition: 0.5s ease-in-out;
      display: block;
      @include box(100%);
    }
  }
}
